:root{
  --principal_color: #17171d;
  --side_bar: #2e2e3b;
  --secondary_color: #fc0;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;

  background-color: var(--principal_color);
  color: #f0f8ff;
  overflow-x: hidden  ;
}
header{
  display: grid;
  grid-template-columns: max-content auto;
  gap: 2rem;
  padding: 1rem;
}
h1{
  font-weight: 200;
}
h2{
  font-weight: 600;
}
input{
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: aliceblue;
  border: none;
  outline: none;
}
input[type="time"]{
  padding: .1rem .5rem;
  background-color: var(--principal_color);
  border-radius: 1ch;
}
input[type="date"]{
  padding: .1rem .5rem;
  background-color: var(--principal_color);
  border-radius: 1ch;
}
select{
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: aliceblue;
  border: none;
  outline: none;
  padding: .1rem .5rem;
  background-color: var(--principal_color);
  border-radius: 1ch;
}
option{
  background-color: var(--principal_color);
}
button{
  height: 4ch;
  padding: 0 .8rem;
  background-color: var(--secondary_color);
  border: none;
}
/* Scroll */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #3c3c4b;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 204, 0, 0.6);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.bold{
  font-weight: 600;
}
.g_row{
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: .5rem;
}
.f_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
  color: var(--secondary_color);
  transition: color 200ms ease-in-out;
}
.spinner{
  width: 36px;
  height: 36px;

  border: 4px solid var(--secondary_color);
  opacity: .2;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}

.card_yellow{
  width: fit-content;
  padding: 1rem;
  background-color: var(--secondary_color);
  color: black;
  border-radius: 20px;
}
.card_gray{
  width: 400px;
  margin: .5rem 0;
  padding: .2rem;
  padding-left: .8rem;

  display: grid;
  grid-template-columns: max-content auto min-content;
  gap: .4rem;
  align-items: center;

  background-color: var(--side_bar  );
  color: aliceblue;
  border-radius: 20px;

}
.badge{
  width: fit-content;  
  padding: .2rem 1rem;

  border-radius: 5rem;
  background-color: var(--principal_color);
  border: var(--secondary_color) 1px solid;
  color: var(--secondary_color);
}
.badge_context{
  width: fit-content;  
  padding: .2rem 1rem;

  border-radius: 5rem;
  background-color: var(--secondary_color);
  color: black;
}
.note{
  opacity: .2;
  justify-content: end;
  font-size: .8rem !important;
}
.standard_gap > *{
  width: 100%;
  margin: .08rem;
}
.rounded{
  width:3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  font-size: 2rem;
  border-radius: 50%;
}
.card_grid{
  display: grid;
  grid-template-columns: auto min-content;
}

/* Decorators*/
.underline_decorator{
  border-bottom: 1px solid rgba(255, 204, 0, 0.5);
  gap: 1rem;
}
.dot_decorator_deactivated{
  width: 1ch;
  height: 1ch;
  
  background-color: var(--secondary_color);
  border-radius: 50%;
  opacity: .1;
}
.dot_decorator{
  width: 1ch;
  height: 1ch;
  
  background-color: var(--secondary_color);
  border-radius: 50%;
}

/* inputs*/
.simple_input{
  width: 400px;
  padding: .2rem;
  padding-left: .8rem;

  display: grid;
  grid-template-columns: max-content auto min-content;
  gap: .4rem;
  align-items: center;

  background-color: var(--side_bar  );
  color: aliceblue;
  border-radius: 20px;
}
.simple_input > button{
  width: 5rem;
  border-radius: 0 2ch 2ch 0;
}
.extended_input{
  width: 400px;
  padding: .2rem;
  padding-left: .8rem;

  display: grid;
  grid-template-columns: max-content auto min-content min-content;
  gap: .4rem;
  align-items: center;

  background-color: var(--side_bar  );
  color: aliceblue;
  border-radius: 20px;
}
.extended_input  > button{
  height: 7ch;
  width: 5rem;
  border-radius: 0 2ch 2ch 0;
}
.double_input{
  width: 400px;
  padding: .2rem;
  padding-left: .8rem;

  display: grid;
  grid-template-columns: max-content auto min-content min-content;
  gap: .4rem;
  align-items: center;

  background-color: var(--side_bar  );
  color: aliceblue;
  border-radius: 20px;
}
.double_input  > button{
  width: 5rem;
  border-radius: 0 2ch 2ch 0;
}

/*Side Panel*/
#side_panel{
  width: 200px;
  height: 100vh;
  padding: .4rem;

  top: 0;
  position: absolute;
  z-index: 2;

  display: grid;
  grid-template-rows: repeat(6, max-content) auto;
  align-items: flex-end;

  background-color: var(--side_bar);
  transition: right 200ms ease-in-out;
}
#side_panel > *{
  height: 3rem;
  padding: 1.5rem .6  rem;

  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.panel_show{
  right: 0;
  display: block !important;
}
.panel_hide{
  right: -300px;
  display: none !important;
}

/*Context menu*/
.context_menu{
  position: relative;
}
.context_menu > div{
  position: absolute;
  right: 0;
  z-index: 1;
}
.context_hide{
  display: none;
}
.context_show{
  display: block;
}

/* Clock*/

.clock{
  width: 145px;
  height: 145px;
  margin: 100px;
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  transform: scale(1.8) ;
}
.clock_decorator{
  width: 145px;
  height: 145px;

  position: absolute;

  fill: transparent;
  stroke: var(--side_bar);
  stroke-width: .2rem;

  z-index: -1;
  overflow: visible;
}
.clock_decorator:nth-child(2){
  stroke: var(--secondary_color);
  stroke-width: .2rem;
  stroke-dasharray: 440;

  transform: rotate(-90deg) translate(5px, -5px) scale(1,-1);
}
.clock_data{
  font-size: 2rem;
  font-weight: 100;
}

/* To Do */

#todo{
  width: 400px;
  gap: .2rem;
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}